:root {
	--primary-color: #dd145a;
	--secondary-color: #f5f2fe;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
	margin: 60px auto;
	max-width: 100%;
	margin-top: 100px;
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 24px;
	opacity: 0.7;
}

.project-description {
	background: var(--secondary-color);
	padding: 20px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	border-radius: 30px;
	margin-right: 20px;
}

.navigation-links {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	font-weight: 600;
	transition: all 150ms ease-in-out;
}

.contact-link {
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
	color: white;
	font-size: 16px;
	margin: 20px;
	border-radius: 28px;
	padding: 22px 20px;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 150ms ease-in;
}

.contact-link:hover {
	color: whitesmoke;
}

.contact-link:active {
	background-color: white;
	color: var(--primary-color);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.about-link {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	box-shadow: var(--box-shadow);
	font-size: 16px;
	border-radius: 28px;
	margin: 20px;
	padding: 22px 20px;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 150ms ease-in;
}

.about-link:hover {
	color: var(--primary-color);
}

.about-link:active {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.project-link {
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
	color: white;
	padding: 20px 15px;
	border-radius: 30px;
	line-height: 6rem;
	text-decoration: none;
	font-weight: 600px;
	font-size: 16px;
}

.project-link:hover {
	color: cornflowerblue;
	font-weight: 700px;
	font-size: 17px;
}

.homepage-link {
	color: var(--primary-color);
	text-align: center;
	display: block;
}

.about-paragraphs {
	text-align: center;
	display: block;
	margin: auto;
	padding: 20px 0;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	color: cornflowerblue;
	font-weight: 700px;
}
.primary-link {
	border-radius: 28px;
	padding: 20px 15px;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	background: #dd145a;
	color: white;
	max-width: 35%;
	margin: auto;
	text-decoration: none;
	font-size: 18px;
}

.primary-link:hover {
	color: cornflowerblue;
	font-weight: 700px;
	font-size: 19px;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.mt-5 {
	margin-top: 3rem !important;
}

.rounded {
	border-radius: 0.25rem !important;
}

.img-fluid {
	border-radius: 40px;
	margin: 20px 20px;
	/* margin-right: 30px; */
}

@media (max-width: 500px) {
	.img-fluid {
		display: block;
		margin: auto;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
		border-radius: 30px;
	}
	img {
		display: block;
		margin: auto;
		text-align: center;
	}
	.project-description {
		padding-right: 20px;
		padding-left: 20px;
		border-radius: 30px;
	}
	.primary-link {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.mb-3 {
		margin-bottom: 3rem;
		margin-top: 1rem;
	}
	.tagline-bio {
		max-width: 75%;
		display: block;
		margin: auto;
	}

	ul li {
		max-width: 75%;
		display: block;
		margin: auto;
	}
}

div.col-md-6 {
	margin: auto;
	display: block;
}

#headshot {
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 2rem;
	border-radius: 100%;
}

.description {
	line-height: 3rem;
	font-weight: normal;
}

.transition-to-projects {
	background-color: none;
	padding: 50px;
	border-radius: 4px;
	font-size: 20px;
	text-align: center;
}

.hero {
	background-color: #fafaf7;
	padding-top: 35px;
}

.gray-background {
	background-color: #fafaf7;
}

.work-inquiry {
	background-color: #fafaf7;
	padding: 30px;
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
}

button {
	background-color: var(--primary-color);
}

footer .email-link-footer {
	text-decoration: none;
	color: black;
	font-size: 24px;
	text-align: center;
}
footer .email-link-footer:hover {
	color: var(--primary-color);
	font-size: 25px;
}
footer .social-links a {
	margin: 0 20px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 50%;
	transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
	color: white;
	background-color: var(--primary-color);
	font-size: 20px;
}

.bio {
	font-family: "DM Sans", sans-serif;
	font-size: 17px;
}

.tagline-bio {
	font-weight: normal;
}

.title-bio {
	font-family: "Hind Vadodara", sans-serif;
}

.paragraph-2 {
	text-align: center;
	display: block;
	margin: auto;
	padding: 20px 0;
}

ul li {
	text-align: center;
	display: block;
	margin: auto;
	padding: 20px 0;
	max-width: 85%;
}

.tools {
	background-color: #fafaf7;
	border-radius: 40px;
	padding: 10px 0;
}

.title-skills {
	color: black;
	font-family: "Hind Vadodara", sans-serif;
}
