:root {
	--primary-color: #dd145a;
	--secondary-color: #f5f2fe;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html {
	margin-bottom: 2rem;
}

body {
	margin: 60px auto;
	max-width: 100%;
	margin-top: 100px;
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 24px;
	opacity: 0.7;
}

.project-description {
	background: var(--secondary-color);
	padding: 20px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}

.navigation-links {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	font-weight: 600;
}

.navigation-links a {
	margin: 20px;
	border-radius: 4px;
	padding: 20px 15px;
	text-decoration: none;
	text-transform: capitalize;
}

.navigation-links a:hover {
	color: cornflowerblue;
}

.contact-link {
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
	color: white;
}

.about-link {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.homepage-link {
	color: var(--primary-color);
	text-align: center;
	display: block;
}

.about-paragraphs {
	max-width: 60%;
	text-align: center;
	display: block;
	margin: auto;
	padding: 20px 0;
}

.about-paragraphs p {
	margin: 10px;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}
.primary-link {
	border-radius: 28px;
	padding: 20px 15px;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	background: #dd145a;
	color: white;
	max-width: 35%;
	margin: auto;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.mt-5 {
	margin-top: 3rem !important;
}

.rounded {
	border-radius: 0.25rem !important;
}

.img-fluid {
	border-radius: 40px;
}

@media (max-width: 500px) {
	.img-fluid {
		display: block;
		margin: auto;
		text-align: center;
	}

	img {
		display: block;
		margin: auto;
		text-align: center;
	}
}

div.col-md-6 {
	margin: auto;
	display: block;
}

#headshot {
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 2rem;
	border-radius: 100%;
}

.description {
	line-height: 3rem;
	font-weight: normal;
}

.transition-to-projects {
	background-color: none;
	padding: 50px;
	border-radius: 4px;
	font-size: 20px;
	text-align: center;
}

.hero {
	background-color: #fafaf7;
	padding-top: 35px;
}

.gray-background {
	background-color: #fafaf7;
}
